@import "tailwindcss";


:root{
  --backgroundhero:#F2F0F1;
  --bg-color: #22223b;
  --border-color: #4a4e69;
}
 body {
  
  font-family: Arial, Helvetica, sans-serif;
} 

.input{
  @apply w-full p-3 rounded bg-slate-800 border border-slate-700;
}

@media print {
  nav, header, footer {
    display: none;
  }
}